:root {
  --orange: #ff9900;
  --light-orange: #ffb84d;
  --dark-orange: #e1670e;
  --green: #97ee3f;
  --white: #ffffff;
  --very-light-grey: #cacaca;
  --light-grey: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(0, 0, 0, 0.5);
  --grey: #666666;
  --dark-grey: #414141;
  --black: #000000;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  border: none;
  padding: 19px 38px;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--orange);
  border-radius: 16px;
  color: var(--white);
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.third-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

body {
  min-width: 320px;
  font-family: "Montserrat";
  color: var(--black);
}

.container {
  padding: 0 75px;
  margin: 0 auto;
  max-width: 2070px;
}

/* header */

.header {
  width: 100%;
  margin-bottom: 48px;
  padding: 14px 0;
  background-color: var(--white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__nav {
  display: flex;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.header__link::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  bottom: -7px;
  height: 2px;
  background-color: var(--orange);
  transition: width 0.3s ease;
}

.header__link:focus {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.header__link:hover::after {
  width: 100%;
}

.header__link:active {
  outline: none;
  color: var(--dark-orange);
}

.header__link:active::after {
  color: var(--dark-orange);
  background-color: var(--dark-orange);
  width: 100%;
}

.header__search {
  margin-left: 260px;
}

.header__search svg rect {
  transition: fill 0.3s ease;
}

.header__search svg path {
  transition: stroke 0.3s ease;
}

.header__search:hover svg rect {
  fill: var(--orange);
}

.header__search:active::after {
  opacity: 0;
}

.header__search:hover svg path {
  stroke: var(--orange);
}

.header__search:active svg rect {
  fill: var(--dark-orange);
}

.header__search:active svg path {
  stroke: var(--orange);
}

.search-form {
  position: absolute;
  right: 0;
  align-items: center;
  padding: 16px 13px 16px 32px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  visibility: hidden;
  transform: translateX(120%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.search-form_show {
  display: flex;
  visibility: visible;
  transform: none;
}

.search-form__input {
  width: 412px;
  padding-bottom: 5px;
  margin-right: 14px;
  border: 0;
  border-bottom: 1px solid var(--very-light-grey);
}

.search-form__input:focus {
  outline: none;
  border-color: var(--orange);
}

.search-form__input::-webkit-input-placeholder {
  color: var(--very-light-grey);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.search-form__send {
  margin-right: 22px;
}

/* hero */
.hero {
  min-height: 620px;
  margin-bottom: 49px;
}

.hero .container {
  height: 100%;
}

.swiper-box {
  position: relative;
}

.swiper {
  position: absolute !important;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 32px;
}

.hero__swiper {
  position: relative;
  width: 51%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
  z-index: 1;
  pointer-events: none;
}

.swiper-pagination {
  padding-bottom: 16px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;

  background-color: var(--very-light-grey);
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 17px !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--white);
}

.hero__title {
  margin: 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white);
}

.hero__text {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
}

.hero__button {
  transition: background-color 0.3s ease;
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
}

.hero__button:focus {
  background-color: var(--light-orange);
}

.hero__button:hover {
  background-color: var(--light-orange);
}

.hero__button:active {
  background-color: var(--dark-orange);
}

/* about-us */

.about-us__title {
  margin-bottom: 20px;
}

.about-us__text {
  margin: 0;
  max-width: 70%;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about-us__content {
  display: flex;
  justify-content: space-between;
}

.about-left {
  width: 49%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url(../img/about-us/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 32px;
}

.about-left__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-left__text {
  margin: 0;
  max-width: 60%;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.about-left__btn {
  padding: 18px 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  border: 3px solid var(--orange);
  border-radius: 16px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.about-left__btn:focus {
  background-color: var(--orange);
}

.about-left__btn:hover {
  background-color: var(--orange);
}

.about-left__btn:active {
  background-color: var(--dark-orange);
  border: 3px solid var(--dark-orange);
}

.about-right {
  max-width: 49%;
}

.about-right__item {
  padding: 61px 118px 65px 295px;
  background-position: left 56px center;
  background-repeat: no-repeat;
  border: 1px solid var(--very-light-grey);
  border-radius: 32px;
}

.about-right__item:not(:last-child) {
  margin-bottom: 32px;
}

.about-right__title {
  margin: 0;
  margin-bottom: 8px;
}

.about-right__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* how-it-works */

.how-it-works {
  padding-top: 98px;
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 50px;
}

.how-it-works__list {
  display: flex;
  margin-bottom: 45px;
}

.how-it-works__item:not(:last-child) {
  margin-right: 86px;
}

.how-it-works__step {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.3s ease;
}

.how-it-works__step:focus {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.how-it-works__step:hover {
  color: var(--orange);
}

.how-it-works__step:active {
  color: var(--dark-orange);
  outline: none;
}

.how-it-works__step--active {
  color: var(--orange);
}

.how-it-works__wrapper {
  display: flex;
  justify-content: space-between;
}

.how-it-works__wrapper-text {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding: 0;
}

.how-it-works__text-title {
  margin: 0;
  margin-bottom: 8px;
}

.how-it-works__text-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 18px;
}

.how-it-works__buttons {
  align-items: center;
}

.how-it-works__btn {
  padding: 19px 38px;
  margin-right: 27px;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--orange);
  border-radius: 16px;
  color: var(--white);
  transition: background-color 0.3s ease;
}

.how-it-works__btn:focus {
  background-color: var(--light-orange);
}

.how-it-works__btn:hover {
  background-color: var(--light-orange);
}

.how-it-works__btn:active {
  background-color: var(--dark-orange);
}

.how-it-works__btn-empty {
  padding: 19px 38px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  border: 1px solid var(--black);
  border-radius: 16px;
  background-color: var(--white);
  transition: background-color 0.3s ease color 0.3s ease border-color 0.3s ease;
}

.how-it-works__btn-empty:focus {
  background-color: var(--grey);
  color: var(--white);
  border-color: transparent;
}

.how-it-works__btn-empty:hover {
  background-color: var(--grey);
  color: var(--white);
  border-color: transparent;
}

.how-it-works__btn-empty:active {
  background-color: var(--black);
  color: var(--white);
}

.how-it-works__wrapper-image {
  display: flex;
  padding-top: 8px;
  width: 49%;
}

.how-it-works__img {
  object-fit: cover;
  object-position: center;
  border-radius: 32px;
}

/* faq */

.faq {
  padding-top: 110px;
  margin-bottom: 100px;
}

.faq__title {
  margin: 0;
  margin-bottom: 32px;
}

.faq__item {
  position: relative;
  margin-top: -1px;
  padding: 39px 0;
  padding-right: 75px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--very-light-grey);
  transition: border-color 0.3s ease;
}

.faq__item:first-child {
  border-color: var(--very-light-grey);
}

.faq__item:focus {
  border-color: var(--orange);
}

.faq__item:hover {
  border-color: var(--orange);
}

.faq__item:active svg {
  transform: rotate(45deg);
}

.faq__item:active {
  border-color: var(--very-light-grey);
}

.faq__item svg ellipse {
  transition: fill 0.3s ease;
}

.faq__item svg path {
  transition: fill 0.3s ease;
}

.faq__item:focus .faq__item-title {
  color: var(--orange);
}

.faq__item:focus svg ellipse {
  fill: var(--orange);
}

.faq__item:focus svg path {
  fill: var(--white);
}

.faq__item:hover .faq__item-title {
  color: var(--orange);
}

.faq__item:active .faq__item-title {
  color: var(--black);
}

.faq__item:hover svg ellipse {
  fill: var(--orange);
}

.faq__item:active svg ellipse {
  fill: var(--very-light-grey);
}

.faq__item:hover svg path {
  fill: var(--white);
}

.faq__item:active svg path {
  fill: var(--black);
}

.faq__item svg {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
  transition: transform 0.3s ease;
}

.faq__item-title {
  margin: 0;
  transition: color 0.3s ease;
}

/* footer */

.footer {
  padding: 50px 0;
  background-color: #000000;
  color: var(--very-light-grey);
}

.footer__container {
  display: flex;
  flex-direction: row;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer__title {
  margin-bottom: 23px;
}

.footer__list {
  margin-bottom: 89px;
}

.footer__item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  transition: color 0.3s ease;
}

.footer__item-link:focus {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.footer__item-link:hover {
  color: var(--orange);
}

.footer__item-link:active {
  color: var(--dark-orange);
  outline: none;
}

.footer__social-link {
  position: relative;
  display: inline-block;
}

.footer__social-link::after {
  position: absolute;
  content: "";
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid var(--orange);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.footer__social-link:focus:after {
  opacity: 1;
}

.footer__social-link:hover svg path {
  fill: var(--orange);
}

.footer__social-link:active::after {
  opacity: 0;
}

.footer__social-link:active svg path {
  fill: var(--dark-orange);
}

.footer__social-link svg path {
  transition: fill 0.3s ease;
}

.footer__social-link:not(:last-child) {
  margin-right: 20px;
}

.form-wrapper {
  max-width: 32.2%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  border: none;
  padding: 22px 0;
  padding-left: 25px;
  background-color: var(--dark-grey);
  border-radius: 16px;
  margin-bottom: 23px;
  color: var(--white);
  transition: background-color 0.3s ease;
}

.form__input:focus {
  background-color: var(--grey);
  outline: 0;
  outline-offset: 0;
}

.form__input:hover {
  background-color: var(--grey);
  outline: 0;
  outline-offset: 0;
}

.form__input:active {
  background-color: var(--grey);
  color: var(--white);
  outline: 0;
  outline-offset: 0;
}

.form__textarea {
  min-height: 150px;
  background-color: var(--dark-grey);
  border-radius: 16px;
  border: none;
  padding-top: 22px;
  padding-left: 25px;
  margin-bottom: 32px;
  background-color: var(--dark-grey);
  border-radius: 16px;
  box-sizing: border-box;
  resize: none;
  color: var(--white);
  transition: background-color 0.3s ease;
}

.form__textarea:focus {
  background-color: var(--grey);
  outline: 0;
  outline-offset: 0;
}

.form__textarea:hover {
  background-color: var(--grey);
  outline: 0;
  outline-offset: 0;
}

.form__textarea:active {
  background-color: var(--grey);
  color: var(--white);
  outline: 0;
  outline-offset: 0;
}

.form__buttons {
  display: flex;
  align-items: center;
}

.form__btn {
  padding: 20px 52px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.form__btn:focus {
  background-color: var(--light-orange);
}

.form__btn:hover {
  background-color: var(--light-orange);
}

.form__btn:active {
  background-color: var(--dark-orange);
}

.checkbox__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.footer__info {
  margin-left: 236px;
  max-width: 20.5%;
  padding: 87px 0;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
