:root {
  --orange: #ff9900;
  --light-orange: #ffb84d;
  --dark-orange: #e1670e;
  --green: #97ee3f;
  --white: #ffffff;
  --very-light-grey: #cacaca;
  --light-grey: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(0, 0, 0, 0.5);
  --grey: #666666;
  --dark-grey: #414141;
  --black: #000000;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  background-color: var(--orange);
  border-radius: 16px;
  color: var(--white);
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.third-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

body {
  min-width: 320px;
  font-family: "Montserrat";
  color: var(--black);
}

.container {
  margin: 0 auto;
  max-width: 1773px;
  border-left: 1px solid salmon;
  border-right: 1px solid salmon;
}

/* header */

.header {
  width: 100%;
  margin-bottom: 48px;
  padding: 14px 0;
  background-color: var(--white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.header__link::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  bottom: -7px;
  height: 2px;
  background-color: var(--orange);
  transition: width 0.3s ease;
}

.header__link:focus {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.header__link:hover::after {
  width: 100%;
}

.header__link:active {
  outline: none;
  color: var(--dark-orange);
}

.header__link:active::after {
  color: var(--dark-orange);
  background-color: var(--dark-orange);
  width: 100%;
}

.header__search {
  position: relative;
  margin-left: 260px;
}

.header__search svg rect {
  transition: fill 0.3s ease;
}

.header__search svg path {
  transition: stroke 0.3s ease;
}

.header__search::after {
  position: absolute;
  content: "";
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid var(--orange);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header__search:focus::after {
  opacity: 1;
}

.header__search:hover svg rect {
  fill: var(--orange);
}

.header__search:active::after {
  opacity: 0;
}

.header__search:hover svg path {
  stroke: var(--orange);
}

.header__search:active svg rect {
  fill: var(--orange);
}

.header__search:active svg path {
  stroke: var(--orange);
}

/* hero */
.hero {
  min-height: 620px;
  margin-bottom: 51px;
}

.hero__container {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
  background-image: url(../img/hero/hero1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 32px;
}

.hero__swiper {
  width: 51%;
}

.hero__content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.hero__title {
  margin: 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white);
}

.hero__text {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
}

.hero__button {
  transition: background-color 0.3s ease;
}

.hero__button:focus {
  background-color: var(--light-orange);
}

.hero__button:hover {
  background-color: var(--light-orange);
}

.hero__button:active {
  background-color: var(--dark-orange);
}

/* about-us */

.about-us__title {
  margin-bottom: 20px;
}

.about-us__text {
  max-width: 70%;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about-us__content {
  min-height: 622px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-left {
  width: 49%;
  min-height: 622px;
  display: flex;
  align-items: flex-end;
  background-image: url(../img/about-us/big.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  border-radius: 32px;
}

.about-left__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-left__text {
  margin: 0;
  max-width: 60%;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.about-left__btn {
  padding: 18px 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  border: 3px solid var(--orange);
  border-radius: 16px;
  transition: background-color 0.3s ease border 0.3s ease;
}

.about-left__btn:focus {
  background-color: var(--orange);
}

.about-left__btn:hover {
  background-color: var(--orange);
}

.about-left__btn:active {
  background-color: var(--dark-orange);
  border: 3px solid var(--dark-orange);
}

.about-right {
  max-width: 49%;
}

.about-right__item {
  padding: 63px 118px 65px 295px;
  background-position: left 56px center;
  background-repeat: no-repeat;
  border: 1px solid var(--very-light-grey);
  border-radius: 32px;
}

.about-right__item:not(:last-child) {
  margin-bottom: 32px;
}

.about-right__title {
  margin: 0;
  margin-bottom: 8px;
}

.about-right__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* how-it-works */

.how-it-works {
  padding-top: 94px;
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 50px;
}

.how-it-works__list {
  display: flex;
  margin-bottom: 45px;
}

.how-it-works__item:not(:last-child) {
  margin-right: 86px;
}

.how-it-works__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: color 0.3s ease;
}

.how-it-works__link:focus {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.how-it-works__link:hover {
  color: var(--orange);
}

.how-it-works__link:active {
  color: var(--dark-orange);
  outline: none;
}

.how-it-works__item--active {
  color: var(--orange);
}

.how-it-works__wrapper {
  min-height: 460px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.how-it-works__wrapper-text {
  max-width: 40%;
  padding: 0;
}

.how-it-works__text-title {
  margin: 0;
  margin-bottom: 8px;
}

.how-it-works__text-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 18px;
}

.how-it-works__buttons {
  align-items: center;
}

.how-it-works-btn {
  padding: 19px 38px;
  margin-right: 27px;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--orange);
  border-radius: 16px;
  color: var(--white);
  transition: background-color 0.3s ease;
}

.how-it-works-btn:focus {
  background-color: var(--light-orange);
}

.how-it-works-btn:hover {
  background-color: var(--light-orange);
}

.how-it-works-btn:active {
  background-color: var(--dark-orange);
}

.how-it-works-btn--empty {
  padding: 19px 38px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  border: 1px solid var(--black);
  border-radius: 16px;
  background-color: var(--white);
  transition: background-color 0.3s ease color 0.3s ease;
}

.how-it-works-btn--empty:focus {
  background-color: var(--grey);
  color: var(--white);
  border: inherit;
}

.how-it-works-btn--empty:hover {
  background-color: var(--grey);
  color: var(--white);
  border: inherit;
}

.how-it-works-btn--empty:active {
  background-color: var(--black);
  color: var(--white);
}

.how-it-works__wrapper-image {
  padding-top: 8px;
  width: 49%;
  height: 100%;
}

.how-it-works__img {
  width: 100%;
  object-fit: cover;
}

/* faq */

.faq {
  padding-top: 110px;
}

.faq__title {
  margin: 0;
  margin-bottom: 32px;
}

.faq__item {
  position: relative;
  margin-top: -1px;
  padding: 39px 0;
  padding-right: 75px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--very-light-grey);
  transition: border-color 0.3s ease;
}

.faq__item:first-child {
  border-color: var(--very-light-grey);
}

.faq__item:focus {
  border-color: var(--orange);
}

.faq__item:hover {
  border-color: var(--orange);
}

.faq__item:active svg {
  transform: rotate(45deg);
}

.faq__item:active {
  border-color: var(--very-light-grey);
}

.faq__item svg ellipse {
  transition: fill 0.3s ease;
}

.faq__item svg path {
  transition: fill 0.3s ease;
}

.faq__item:focus .faq__item-title {
  color: var(--orange);
}

.faq__item:focus svg ellipse {
  fill: var(--orange);
}

.faq__item:focus svg path {
  fill: var(--white);
}

.faq__item:hover .faq__item-title {
  color: var(--orange);
}

.faq__item:active .faq__item-title {
  color: var(--black);
}

.faq__item:hover svg ellipse {
  fill: var(--orange);
}

.faq__item:active svg ellipse {
  fill: var(--very-light-grey);
}

.faq__item:hover svg path {
  fill: var(--white);
}

.faq__item:active svg path {
  fill: var(--black);
}

.faq__item svg {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
  transition: transform 0.3s ease;
}

.faq__item-title {
  margin: 0;
  transition: color 0.3s ease;
}
